* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  font-family: sans-serif;
}
* h1,
* h2,
* h3,
* h4,
* h5,
* h6,
* p,
* span {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background: url("ramadan.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 110vh;
  min-height: 100vh;
  max-height: 130vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .header h2 {
  font-size: 4rem;
  margin-top: 1.3rem !important;
  text-transform: capitalize;
  color: teal;
  background-color: #fff;
  padding: 4px 10px !important;
  border-radius: 4px;
}
body .counter_section {
  width: 70%;
  margin: auto;
  margin-top: 4rem !important;
}
body .counter_section .sup_title {
  color: teal;
  font-size: 2rem;
  background-color: #fff;
  padding: 4px 10px !important;
  border-radius: 4px;
}
body .counter_section .counterBox {
  background: rgba(26, 11, 46, 0.6235294118);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: -ms-grid !important;
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem !important;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 20px;
}
body .counter_section .counterBox .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  height: 10rem;
  background: rgba(26, 11, 46, 0.6235294118);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 0.6rem;
}
body .counter_section .counterBox .box h4,
body .counter_section .counterBox .box span {
  color: #fff;
}
body .counter_section .counterBox .box h4 {
  font-size: 4.4rem;
}
body .counter_section .counterBox .box span {
  font-size: 2.4rem;
}