$mainColor: teal;

@mixin reset_all_page {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
}

@mixin reser_heading_spaces {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    margin: 0 !important;
    padding: 0 !important;
  }
}

// flex
@mixin flex-content($position) {
  display: flex;
  justify-content: $position;
  align-items: center;
}